html { padding: 0px; margin: 0px; background: #FFFFFF; }
body {
padding: 8px; margin: 0px;
background: #FFFFFF url(../img/ginchan.png) no-repeat fixed bottom right;
color: #000000;
}
a { color: #3322AA; }
a:hover { color: #FF4488; }
form { margin: 0px; }
ol ul, ul ol, ul ul, ol ol { margin-top: 0; margin-bottom: 0; }
ol p:first-child, ul p:first-child { margin-top: 0; }
ol p:last-child, ul p:last-child { margin-bottom: 0; }
.aa { font-family: Mona,'MS PGothic' !important;  }
input, textarea { border: 1px solid #000000; }
input[type=submit] { }
input[type="file"] > input[type="text"] { border: 1px solid #000000; }
.outerbox, .backlogpage #threads {
background: #DDDDE7; color: #000000;
font-family: garamond, serif;
clear: both;
margin-bottom: 0;
padding-bottom: 0.5em;
border-bottom: 2px solid #AAAABB;
}
h1 {
font-size: 2em; font-weight: bold; font-family: garamond, serif;
text-align: center;
border-bottom: 2px solid #441188;
padding: 4px 4px 0px 4px;
}
#titlebox {
position: relative;
background: #DDDDE7 url(../img/rose_big.png) no-repeat scroll bottom right;
}
#titlebox .threadnavigation { position: absolute; right: 0.7em; top: 0.7em; }
#titlebox div>.threadnavigation { right: 0.3em; }
#rules { padding: 0em 0.5em; }
#stylebox { padding: 0.5em; }
#threadbox { margin-bottom: 2em; }
#threadbox .innerbox { padding: 1em 0.5em 0.2em 0.5em; }
#threadbox .threadlink, #threadlinks a { padding-right: 0.5em; }
#threadlinks { text-align: right; font-weight: bold; }
#createbox { margin-right: 100px;
background: #DDDDE7 url(../img/rose_big.png) no-repeat scroll top right;
}
#createbox h2 {
border-bottom: 2px solid #441188;
font-size: 1.2em; font-family: garamond, serif; font-weight: bold;
margin: 0 0 0.7em 0; padding: 0 0 0 3em;
}
.threadcaptcha { color: #000000; }
#posts {
}
#posts .thread, #posts .sagethread { padding: 4px; margin-bottom: 2em; clear: both; }
#posts h2 {
float: left;
background: #DDDDE7 url(../img/rose.png) no-repeat scroll 4px 2px;
height: 26px;
line-height: 26px;
border-bottom: 2px solid #441188;
font-size: 1.2em; font-family: garamond, serif; font-weight: bold;
margin: 0 0 0.7em 0; padding: 0 8px 0 32px;
}
#posts .sagethread h2 {
background: #DFDFDF url(../img/greyrose.png) no-repeat scroll 4px 2px;
border-bottom: 2px solid #555555;
}
#posts .sagethread a { color: #333333; }
#posts .sagethread a:hover { color:#FF4488; }
#posts h2 a { color: #000000; text-decoration: none; }
#posts h2 a:hover { color:#FF4488; }
#posts h2 small { font-size: 1em; font-weight: normal; margin-left: 0.5em; }
#posts .threadnavigation { float: right; padding-right: 100px; }
#posts .replies { clear: both; }
#posts .allreplies, #posts .firstreply, #posts .finalreplies { }
#posts .repliesomitted { clear: both; background: #DDDDE7; height: 3px; margin: 0 120px 1em 20px; }
#posts .sagethread .repliesomitted { background: #DFDFDF; }
#posts .reply, #posts .deletedreply {
clear: both;
margin: 0 100px 1.2em 0;
}
#posts h3 {
font-size: 1em; font-family: garamond, serif; font-weight: normal;
margin: 0;
}
#posts .deletedreply h3 { color: #AFAFAF; }
#posts h3 a { color: #000000; }
#posts h3 a:hover { color:#FF4488; }
#posts h3 .replynum {
width: 1.5em;
font-family: garamond, serif; font-weight: bold;
text-align: right;
margin-right: 0.5em;
float: left;
}
#posts h3 .replynum a { color: #000000; text-decoration: none; }
#posts h3 .replynum a:hover { color:#FF4488; }
#posts h3 .postername { color: #000000; font-weight: bold; font-size: 1.1em; }
#posts h3 .postertrip {
color: #000000;
}
#posts h3 small { margin-left: 0.5em; }
#posts .deletebutton { font-size: small; }
#posts .deletebutton a { color: #3322AA; }
#posts .sagethread .deletebutton a { color: #333333; }
#posts .deletebutton a:hover { color:#FF4488; }
#posts img.thumb, #posts a img {
float: left;
border: 1px solid #000000;
margin: 0.5em 2em 0.5em 2em;
}
#posts .nothumbnail {
float: left;
display: inline; /* stupid IE bug */
background: #eeeeee;
border: 2px dashed #cccccc;
text-align: center;
padding: 1em 0.5em 1em 0.5em;
margin: 0.5em 2em 0.5em 2em;
}
.replytext { margin: 0.7em 0em 1.5em 2em; text-align: justify; }
.reply .replytext > :first-child { margin-top: 0em; }
.allreplies .reply:first-child .replytext > :first-child:first-letter,
.firstreply .reply:first-child .replytext > :first-child:first-letter,
#createbox form .replytext > :first-child:first-letter {
font-size: 1.5em;
}
.replytext blockquote { font-style: italic; margin-left: 0em; color: #7f7f7f; }
.replytext blockquote em { font-style: normal; }
#posts .replyabbrev { color: #707070; margin-left: 3em; margin-bottom: 0.5em; }
h4 {
float: right;
font-weight: normal; font-style: italic; font-size: 1.2em;
margin: 0; padding: 0;
}
#posts form {
clear: both;
background: #CCCCEE url(../img/rose_big.png) no-repeat scroll top right;
color: #000000;
border-bottom: 2px solid #BBBBBB;
font-family: garamond, serif;
margin: 3px 100px 3px 3px; padding: 3px;
}
#posts form .replytext, #createbox form .replytext {
border: 1px dotted #000000;
margin: 0.5em 0;
padding: 0 1em;
background: #ffffff;
}
#posts .sagethread form {
background: #D7D7D7 url(../img/greyrose_big.png) no-repeat scroll top right;
}
.postcaptcha { color: #000000; }
#footer { text-align: center; font-size: 0.8em; }
#navigation {
float:left;
white-space: nowrap;
background: #DDDDE7;
border-bottom: 2px solid #441188;
font-size: small;
font-family: sans-serif;
padding: 4px;
margin: 0.3em 0.3em 1em 1em;
}
#navigation strong { font-weight: bold; }
#navigation a { padding: 3px; }
#oldthreadlist {
width: 100%;
font-family: garamond, serif;
padding: 0 1em; margin: 0 auto 7px auto;
background: #DDDDE7 url(../img/rose_big.png) no-repeat scroll top right;
}
#oldthreadlist th {
text-align: left;
border-bottom: 2px solid #441188;
}
#oldthreadlist .line0 { }
#oldthreadlist .line1 { }
#oldthreadlist a { display: block; }
.errorpage h1, .errorpage h2 {
clear: both;
text-align: center;
margin: 1em 0;
padding: 0;
}
.errorpage h1 {
border: 2px dashed #aaa;
}