<ul>
	<li>Les types de fichiers supportés sont : <var get_filetypes()></li>
	<li>La taille maximale autorisé est de <const MAX_KB> KB.</li>
	<li>Les images plus grandes que <const MAX_W>x<const MAX_H> pixels seront réduites.</li>
</ul>
